.about-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(135deg, #ffd198, #ffb97d);
  gap: 100px;
  min-height: 100vh;
  position: relative;
  padding-top: 140px;

  .text-wrap {
    max-width: 600px;
    opacity: 0;
    transform: translateY(40px);
    animation: slideIn 1s ease-out forwards;
    animation-delay: 0.3s;
    padding-left: 80px;

    .welcome-text {
      font-family: "Merriweather", serif;
      font-size: 3rem;
      line-height: 1.1;
      color: #2d160c;

      span {
        display: block;
        font-family: "Pattaya", sans-serif;
        font-size: 4.4rem;
        font-weight: 400;
        color: #452717;
        margin-top: 8px;
      }
    }

    p {
      font-family: "Merriweather", serif;
      font-size: 1.3rem;
      line-height: 1.7;
      color: #3c2412;
      margin-top: 24px;
    }

    .scroll-btn {
      margin-top: 45px;
      padding: 15px 40px;
      font-size: 1.5rem;
      font-family: "Merriweather", serif;
      background: #452717;
      color: #fff;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      transition: 0.3s ease, transform 0.2s ease;
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        background: #2d160c;
        transform: translateY(-2px);
      }

      .arrow {
        font-size: 2rem;
      }
    }
  }

  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .coffe-img {
    width: 50vh;
    max-width: 100%;
    height: auto;
    transform: rotate(4deg);
    transition: transform 0.4s ease;
    margin-top: -80px;

    &:hover {
      transform: rotate(0deg) scale(1.05);
    }
  }
}

.custom-shape-divider-bottom-1756470733 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 1;
}

.custom-shape-divider-bottom-1756470733 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 134px;
}


.custom-shape-divider-bottom-1756470733 .shape-fill {
  fill: #452717;
}

// Tablet
@media (max-width: 1024px) {
  .about-section {
    text-align: center;
    min-height: 60vh;

    .text-wrap {
      margin-top: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0;

      .welcome-text {
        font-size: 2.7rem;
        span {
          font-size: 4.7rem;
        }
      }

      p {
        font-size: 1.3rem;
        width: 100%;
      }

      .scroll-btn {
        padding: 15px 30px;
        font-size: 1.2rem;
      }
    }

    .coffe-img {
      display: none;
    }
  }
}

// Mobile
@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 40vh;
    padding: 110px 50px;

    .text-wrap {
      margin-top: 0;

      .welcome-text {
        font-size: 2rem;
        span {
          font-size: 3rem;
        }
      }

      p {
        font-size: 1.1rem;
      }

      button {
        padding: 15px 30px;
        font-size: 1.2rem;
        margin-bottom: 90px;
      }
    }
  }
}
