.p-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    align-items: stretch;
    padding-bottom: 100px;

    .products-wrapper {
        text-align: center;
        padding: 20px;
        background-color: rgb(255, 228, 196);
        border-radius: 10px;
        margin: 20px 40px 20px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 150px;
            height: auto;
            transition: 0.3s ease;
            margin-bottom: 30px;
            margin-top: auto;

            &:hover {
                transform: scale(1.1);
            }
        }

        .p-description {
            font-size: 1.3rem;
        }

        .p-price {
            font-size: 1.3rem;
            margin-top: auto;
        }
    }
}